
  @import "varible.scss";
  
  @import url('https://fonts.googleapis.com/css2?family=Arapey:ital@0;1&family=Cinzel:wght@400;500&family=Indie+Flower&family=Poppins:ital,wght@0,100;0,200;0,400;1,200;1,300;1,400;1,700&family=Raleway:ital,wght@0,100;0,300;1,100;1,400;1,500&family=Slabo+27px&display=swap');


*{
box-sizing: border-box;
margin:0;
padding:0;
}
html{
font-size: 62.5%;
}
img{
width:100%;
}
body{
height:100vh;
background-color:#333;
font: {
 family:Arapey,sans-serif;
}
color:#fff;
}
P{
  font-size:clamp(1rem,1.5vw,2rem);
  padding:0px 20px;
}
h3{
  text-align: center;
  font: {
  size:clamp(1rem,2.5vw,3rem);
  weight:300;
  }
  text-transform: uppercase;
  letter-spacing: 0.2rem;
}
button{
position:relative;
background:transparent;
border:none;
margin-left:auto;
margin-right:30px;
border-radius:7px;
outline-offset: 4px;
transition: transform 250ms;
&:focus:not(:focus-visible){
outline: none;
}
& > .shadow{
position: absolute;
width:100%;
height:100%;
inset:0;
border-radius:7px;
background:rgba(255,255,255,0.2);
transition: transform 600ms cubic-bezier(.3, .7, .4, 1);
transform: translateY(1px);
}
& > .edge{
position: absolute;
width:100%;
height:100%;
inset:0;
border-radius:7px;
background:rgba(0,0,0,0.5);
}
& > a.btn{
  text-decoration:none;
display:inline-block;
position: relative;
color:#222;
padding:3px 25px;
border-radius:7px;
background:hsl(0, 0%, 100%);
will-change:transform;
transition: transform 600ms cubic-bezier(.3, .7, .4, 1);
transform:translateY(-4px);
font-size:1.5rem;
}
&:hover > a.btn{
  transform:translateY(-5px);
  transition:transform 250ms cubic-bezier(.3, .7, .4, 1.5);
}
&:hover > .shadow{
  transform:translateY(2px); 
  background:rgba(255,255,255,0.5);;
   transition:transform 400ms cubic-bezier(.3, .7, .4, 1.5);

}

&:active > a.btn{
  transform:translateY(-4px);
transition: transform 34ms;
}
&:active > .shadow{
transform:translateY(0px);
  transition: transform 34ms;
}

}

// reusable style
.content{
display:flex;
flex-flow: column;
justify-content: space-between;
position: absolute;
inset:0;
width:100%;
height:100%;
padding:10px 10px 10px 10px;
background-color:rgba(0, 0, 0, 0.5);
border-radius:inherit;
color:#fff;
opacity:0;
transition:all 3s .5s ;
z-index:1;
& > h4{
text-align: center;
letter-spacing:0.2em;
text-transform: uppercase;
font-weight: 400;
font-size:clamp(1rem,1.5vw,2rem);
margin-bottom:10px;
}
}
.project:hover > .content{
  background-color:rgba(0, 0, 0, 0.8);
  opacity:1;
}
.project-small{
 overflow: hidden;
border-radius:15%;
border:3px solid rgba(0, 0, 0, 0.6);
box-shadow:
 5px 5px 5px -5px #fff,
 -5px -5px 5px -5px #fff,
 inset 10px 10px 5px rgba(0, 0, 0, 0.4),
inset -10px -10px 5px rgba(0, 0, 0, 0.4)
;
transition:all 0.5s;
&:after{
  position: absolute;
inset:0;
content:"";
width:100%;
height:100%;
border-radius: inherit;
transition: all 3s  cubic-bezier(0.25, 0.45, 0.45, 0.95);
}
&:hover{
  border:0px solid rgba(0, 0, 0, 0.1);
}
&:hover:after{
transform: scale(1.2);
}
}
.box-3d{
$box-side:55px;
transform-style: preserve-3d;
position: relative;
width:$box-side;
height:$box-side; 
& > div{
transform-style: preserve-3d;
position: absolute;
top:0;
left:0;
width:100%;
height:100%;
 //animation: animate-box 8s linear infinite;
 transform:rotateX(-30deg) rotateY(45deg);
@keyframes animate-box {
  0%{
transform: rotateX(-30deg) rotateY(0deg);
  }
  100%{
transform: rotateX(-30deg) rotateY(360deg);
  }
}
& > span{
position: absolute;
top:0;
left:0;
content: "";
width:100%;
height:100%;
background:linear-gradient(#fff,#00ec00);
@for $i from 1 through 4 {
&:nth-child(#{$i}){
 transform: rotateY(90deg*$i) translateZ($box-side / 2); 
}
}
}
& > svg{
position: absolute;
left:50%;
height:100%;
bottom:-100%;
}
}
.bounce-rope{
animation: path 2s alternate;
}
@keyframes path {
  50% {
     d:path('M 10 20 q -23 30 5 42 t -90 121');
  }
  100% {
     d:path('M 10 10 q -23 45 5 42 t -9 41');
  }
}
}
.container-layout{
width:100%;
height:100%;
& > .container-projects{
padding:10px 0;
width: 90vw;
height:100%;
margin-left:auto;
margin-right:auto;
display:grid;
grid-template-columns:repeat(6,1fr);
grid-template-rows:repeat(3,1fr);
gap:10px;
@media screen and (max-width:580px){
grid-template-columns:1fr;
grid-template-rows:repeat(7,minmax(30vh,1fr)); 
padding:10px 30px;
}
& > .project-one{
grid-area: 1 / 2 / 2 / 6;
@media(max-width:580px){
grid-area: 1 ;
}
border-radius:1%;
border:2px solid rgba(0, 0, 0, 0.6);
background: radial-gradient(ellipse 50% 50% at 0% 100%,#f0f ,#fff);
animation:border2 10s linear infinite;
overflow: hidden;
box-shadow:inset 10px 10px 5px rgba(0, 0, 0, 0.4),
           inset -10px -10px 5px rgba(0, 0, 0, 0.4) ;
& > .content{
& > .details-box{
display: flex;
justify-content:space-between;
align-items: center;
& > .social-box{
 width:10%;
  margin-left: 10px;
display:flex;
justify-content:space-between;
  & > a{
margin:0;
width: 25px;
aspect-ratio: 1;
display:inline-block;
 }
}
}
}
&::after{
position: absolute;
inset:0;
content:"";
width:98.5%;
height:97%;
background:center / 85% 100% no-repeat url(./assets/lab-managment-demo.png),#eee 35%;
transform:translate(0.9%,1.2%);
box-shadow:inset 1px 1px 2px rgba(0, 0, 0, 0.8),
           inset -1px -1px 2px rgba(0, 0, 0, 0.8) ;
transition:transform 6s;

}
&::before{
position: absolute;
inset:0;
content: "";
width:105%;
height:105%;
background: #fff;
transform:translate(-0.55%,-2.5%);
border-radius:inherit;
border:2px solid rgba(0, 0, 0, 0.2);
 background-image: linear-gradient(
    148deg,
    rgba(246, 248, 249, 0) 0%,
    rgba(245, 247, 249, 0) 100%
    ),
    radial-gradient(
    rgba(246, 248, 249, 1) 0%,
    rgba(205, 212, 217, 1) 75%,
    rgba(205, 212, 217, 1) 76%,
    rgba(245, 247, 249, 1) 100%
);
z-index:-2;
}
&:hover:after{
transform: scale(1.2);
transform: cubic-bezier(0.25, 0.45, 0.45, 0.95);
}
}
& > .project-two{
align-self: center;
justify-self: center;
display: flex;
justify-content:center;
align-items:center;
 grid-area: 1 / 6 / 2 / 7;
  @media(max-width:580px){
grid-area:0;
}
}
& > .project-four{
  z-index: 1;
  grid-area: 2 / 1 / 3 / 3;
  @media(max-width:580px){
    grid-area:2 / 1 / 3 / 1
  }
  & .content > .details-box{
    display: flex;
    & > .social-box{
  margin-left: 10px;
  width:35%;
display:flex;
justify-content:space-between;
align-items: center;
  & > a{
width: 25px;
aspect-ratio: 1;
display:inline-block;
 }
}

}
&:after{
background: center / contain no-repeat url(/assets/hplc-devices-wide.png),$gray-light 5%;
}
}
& > .project-five{
  z-index: 1;
grid-area:3 / 1 / 4 / 3;
  @media(max-width:580px){
 grid-area:3 /1 / 4 / 1
}
&::after{
background: 100% 90% / cover no-repeat url(/assets/weather-app.png),$gray-light 5%;
}
}
& > .project-six{
z-index: 1;
grid-area:2 / 5 / 3 / 8;
  @media(max-width:580px){
grid-area:4 / 1 / 5 / 1
}
&::after{
background: center/ contain no-repeat url(/assets/wordle.png),$gray-light 5%;
}
}
& > .project-seven{
  z-index: 1;
grid-area:3 / 5 / 4 / 8;
  @media(max-width:580px){
grid-area:5 / 1 / 6 / 1
}
&::after{
background: center/ contain no-repeat url(/assets/hang-man.png),$gray-light 5%;
}
}

& > .contact{
position: relative;
display:flex;
justify-content:center;
align-items: center;
grid-area:2 / 3 / 4 / 5;
  @media(max-width:580px){
grid-area:7 / 1 / 6 / 1
}
background: center / cover no-repeat url(./assets/blosom.jpg);
& > .glacial-pannel{
position:absolute;
width:95%;
height:95%;
padding:5px 20px;
display:flex;
flex-direction: column;
justify-content: space-between;
color: #222;
background:rgba(255,255,255,0.4);
-webkit-backdrop-filter: blur(1px);
backdrop-filter:blur(1px);
border:1px solid #fff;
box-shadow:0 6px 35px rgba(0,0,0,0.7);
border-radius:10px;
z-index:2;
& > .header{
& > h3{
  text-align: center;
  line-height:1.2;
   letter-spacing:0.7px;
font: {
  family:Poppins, serif;
size:clamp(1rem,2.5vw,3rem);
weight:900;
}
}
& > p{
  margin-top:10px;
  text-align: center;
  font: {
 weight:900;
 size:clamp(1rem,12vw,1.5rem);
  }
  letter-spacing:0.3px;
}
}
& > .social-box{
display:flex;
justify-content:space-evenly;
align-items: center;
align-content: center;
padding:6px 0;
background:linear-gradient(rgba(255,255,255,0.4),rgba(0,0,0,0.1));
border:1px solid rgba(255,255,255,0.4);
box-shadow:0px 0px 30px 10px rgba(255,255,255,1);
border-radius:5px;
 @media(max-width:580px){
  width: 70%;
  margin-inline: auto;
 }
& > a{
padding:0;
margin: 0;
height:35px;
aspect-ratio:1;
background:transparent;
border: none;
&:hover > img{
  transition: transform 600ms cubic-bezier(.3, .7, .4, 1) ;
transform: scale(1.1);
box-shadow:1px 1px 10px rgba(0, 0, 0, 0.2);
}
 @media(max-width:580px){
height:20px;

 }
}
}
& > footer{
font-size:1.2rem;
letter-spacing:0.8px;
margin-inline: auto;
}
}
}
& > div{
position: relative;
// cursor: pointer;
}
}
}

@keyframes border2{
@for $i from 1 through 10{
 #{$i * 1%} {
 background: radial-gradient(ellipse 50% 50% at 0% 100 - ($i*10%), #f0f ,#fff);
 }    
}
@for $i from 12 through 50{
 #{$i * 1%} {
$y:100  / (50 - 12); 
 background: radial-gradient(ellipse 50% 50% at ((($i - 50 ) + (50 - 12)) * $y)*1% 0%, #f0f ,#fff);
 }
}
@for $i from 51 through 60{
 #{$i * 1%} {
$y:10 - (60-$i) ;
 background: radial-gradient(ellipse 50% 50% at 100% $y * 10%, #f0f ,#fff);
 }
}
@for $i from 61 through 100{
 #{$i * 1%} {
$y:100  / (100 - 61);  
 background: radial-gradient(ellipse 50% 50% at ($y *(100 -$i))*1% 100%, #f0f ,#fff);
 }
}
}

