
$gray-light:#fcfcfc;
$gray-one:#f7f7f7;
$gray-two: #dfdfdf;
$gray-three:#dedede;
$gray-four:#e3e3e3;
$gray-five:#a4a4a4;
$secondary: #333;
$error: #d32752;
$border-color:#d4d4d4;
$nav-color:#9c88ff;
$nav-color-shining:#8c76fe;
$nav-color-2:#58249c;
$nav-color-light:#742fcd;
$nav-color-dark:#3f1a71;
$blue-dark-100:#0E3F2C;
$blue-dark-200:#0F1A1D;
$green-primary:#1f9751;
$green-shine:#19e635;
$green-home-100:#D9F4B4;
$green-home-200:#BEF76B;
$green-home-300:#81F065;
$green-home-400:#0EAB2B;
$green-home-500:#0E3F2C;
$database-navbar:#f190d4;
$black-800:#888;
$black-700:#777;
$black-600:#666;
$black-500:#555;
$black-400:#444;
$black-300:#333;
$black:#222;
$black-font:#121212;
$white:#fff;